# Diretório de configuração do IntelliJ IDEA
.idea/
*.iml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/

# Builds e artefatos
dist/
build/
out/

# Sistema operacional
.DS_Store
Thumbs.db

# Ambientes
.env
.env.local
.env.*.local

# Cache
.cache/
coverage/
